<%-include("../partials/staticheader")%>


<!--Start Register Hospital-->
<link rel="stylesheet" href="/registered.css">
<section class="registerhospital">
    <div class="container">
        <div class="box">
            <h1><i class="fa fa-check-circle"></i></h1>
            <h3>Registered</h3>
            <h4>Successfully!</h4>
        </div>
    </div>
</section>
<!--End Register hospital-->
<%-include("../partials/footer")%>