<%-include("../partials/staticheader")%>


<!--Start Register Hospital-->
<link rel="stylesheet" href="/mailsent.css">
<section class="registerhospital">
    <div class="container">
        <div class="box">
            <h1><i class="fa fa-check-circle"></i></h1>
            <h3>"Email sent, Please check your mail for Account Verification"</h3>
        </div>
    </div>
</section>
<!--End Register hospital-->

<%-include("../partials/footer")%>