@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/20.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
.loginBox{
    width: 320px;
    height: 420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginBox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid  rgb(0, 102, 255);
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    overflow: hidden;
    transition: all .5s ease;    
}
.loginBox input[type="text"]:hover, input[type="password"]:hover {
    border-bottom: 2px solid  rgb(0, 102, 255) 
}
.loginBox input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid  rgb(0, 102, 255) 
}
.loginBox input[type="submit"] {
    border: none;
    background:  rgb(0, 102, 255);
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: all .5s ease;   
}
.loginBox input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(1, 1, 31);
    color: #fff;
}
.loginBox a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 102, 255);
    transition: .5s ease;
}
.loginBox a:hover{
    color: rgb(1, 1, 31);
}
