@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.confirmpatientinfo{
    min-height: 100vh;
    padding: 15px;
}
.confirmpatientinfo h1{
    margin-top: 70px;
}
.confirmpatientinfo h1::after{
    content: '';
    background: #ff4d73;
    display: block;
    height: 3px;
    width: 160px;
    margin: 10px auto 50px;
    position: absolute;    
}
.confirmpatientinfo .textdisplay table, th, td{
    border-collapse: collapse;
    margin-top: 40px;
    height: 40px;
}
.confirmpatientinfo .textdisplay table, th{
    width: 290px;
    text-align: left;
}
.confirmpatientinfo .textdisplay table, td{
    width: 780px;
    text-align: left;
}