@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html{
scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/20.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
.registrationBox{
    width: 360px;
    height: 710px;
    background: white;
    top: 50%;
    left: 50%;
    color: #000;
    position: fixed;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    padding-bottom: 100px;
}
h1{
    margin: 0;
    padding: 0 0 22px;
    text-align: center;
    font-size: 22px;
}
.registrationBox p{
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;
}
.registrationBox input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    margin-bottom: 10px;
}
.registrationBox input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid  rgb(0, 102, 255);
    background: transparent;
    outline: none;
    height: 25px;
    color: #000;
    font-size: 16px;
    overflow: hidden;
    transition: all .5s ease;    
}
.registrationBox input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    border-bottom: 2px solid  rgb(0, 102, 255) 
}
.registrationBox input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-bottom: 2px solid  rgb(0, 102, 255)
}
.registrationBox input[type="submit"] {
    border: none;
    background:  rgb(0, 102, 255);
    outline: none;
    height: 40px;
    color: #fff;
    padding: 0 15px 0 15px;
    font-size: 18px;
    margin : left 100px; 
    border-radius: 20px;
    transition: all .5s ease;   
}
.registrationBox input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(1, 1, 31);
    color: #fff;
}
.select{
    padding: 4px 8px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
}
.Select{
    width: 100%;
    padding: 6px 15px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
}

a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 102, 255);
    transition: .5s ease;
}
