<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Care System</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700,900&display=swap">
    <link rel="stylesheet" href="/appointmentsfull.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!--Start Header-->
    <header class="fixed">
        <div class="container">
            <div class="row">
                <div class="brand-name">
                    <a class="logo">Health Care System</a>
                </div>
                <div class="navbar">  
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->

    <!--Start Register Hospital-->
    <section class="registerhospital">
        <div class="container">
            <div class="box">
                <h1><i class="fa fa-times-circle-o"></i></h1>
                <h3>"Appointments for the requested date are full, please select another date"</h3>
            </div> 
        </div>
    </section>
    <!--End Register hospital-->

    <!--Start Footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="logo">
                    Health Care System
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->

    <!--Start CopyRight-->
    <section class="copyright">
        <div class="container">
            <p>&copy; 2020 copyright all right reserved</p>
        </div>
    </section>
    <!--End CopyRight-->

</body>
</html>