<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Health Care System</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <!--Start Header-->
    <header class="fixed">
        <div class="container">
            <div class="row">
                <div class="brand-name">
                    <a class="logo">Health Care System</a>
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="#home" class="active">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="/HCS/register">Signup</a></li>
                        <li><a href="/HCS/login">Login </a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->

    <!--Start Home-->
    <section class="home" id="home">
        <div class="container">
            <div class="row full-screen">
                <div class="home-content">
                    <div class="block">
                        <h6>WELCOME TO</h6>
                        <h1>HEALTH CARE</h1>
                        <h3>SYSTEM</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Home-->

    <!--Start About-->
    <section class="about-us" id="about">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>About</h2>
                        <ul>
                            <li>Health Care System is a smart website with a main purpose of</li>
                            <li>providing an easy and reliable way of storing information of</li>
                            <li>hospital patients. The aim is to facilitate the distance co-</li>
                            <li>mmunication, data sharing, and improve internal communication.</li>
                            <li>This project provides the benefits of streamlined operations,</li>
                            <li>enhanced administration and control, superior patient care,</li>
                            <li>strict cost control and improved profitability.</li>
                        </ul>
                    </div>
                    <div class="col=col-md-6">
                        <img src="images/22.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About-->

    <!--Services-->
    <section class="service" id="services">
        <div class="content-box">
            <div class="container">
                <h1>Our Services</h1>
                <div class="row services">
                    <div class="col-md-3 text-center">
                        <div class="image">
                            <img src="images/8.png">
                        </div>
                        <h3>Appointments</h3>
                        <p>Book Online <span>Appointments</span> with Doctors</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="image">
                            <img src="images/patient.png">
                        </div>
                        <h3>Records</h3>
                        <p>Manage Doctors and Patients <span>Records</span></p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="image">
                            <img src="images/task.png">
                        </div>
                        <h3>Schedules</h3>
                        <p>Manage Time and Daily <span>Schedules</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services-->

    <!--Start Contact us-->
    <section class="contact-us" id="contact">
        <div class="container">
            <h1>Get In Touch</h1>
            <div class="row">
                <div class="section-title text-center">
                    <div class="contact-form">
                        <div class="row">
                            <div class="text">
                                <h2>Drop Us a Message</h2>
                                <p>We are here to answer any Question you may have</p>
                            </div>
                        </div>
                        <div class="row space-between">
                            <div class="col-6">
                                <input type="text" class="form-control" name="" placeholder="Name">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" name="" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea class="form-control" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="button text-right">
                                <a href="">Get in Touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact us-->

    <!--Start Footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="logo">
                    Health Care System
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->

    <!--Start CopyRight-->
    <section class="copyright">
        <div class="container">
            <p>&copy; 2020 copyright all right reserved</p>
        </div>
    </section>
    <!--End CopyRight-->
</body>

</html>