<%-include("../partials/staticheader")%>

<!--Start Register Hospital-->
<link rel="stylesheet" href="/exists.css">
<section class="registerhospital">
    <div class="container">
        <div class="box">
            <h1><i class="fa fa-times-circle-o"></i></h1>
            <h3>"Invalid Info"</h3>
        </div>
    </div>
</section>
<!--End Register hospital-->

<%-include("../partials/footer")%>